
:root {
    --Degrade1: #000016;
    --Degrade2: #0000F2;
    --Fundo: #00001D;

}
body {
    background-image: linear-gradient(to top right, var(--Degrade1), var(--Degrade2) );
    background-attachment: fixed;
  
}
main {
    width: 300px;
    height: auto;
    background-color: var(--Fundo);
    padding: 5px;
    margin: auto;
    border-radius: 10px;
    
}
div#res {
    text-align: center;
    font-size: 20pt;
    background-color: white;
    width: 250px;
    margin: auto;
    height: 30px;
    padding: 5px;
    max-width: 250px;

}
h1 {
    text-align: center;
    color: white;

}
div#botoes {
    width: 240px;
    text-align: center;
    margin: auto;
    padding: 5px;
    
}
button {
    margin: 2px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #282828;
    border-radius: 5px;
    border: none;
    color: white;
    transition: background-color 0.3s;
    font-size:20pt;

} 
button#igual {
    height: 106px;
}
button#zero {
    width: 110px;
}
button:hover {
background-color: #4b4b4b;

}
a {
    text-decoration: none;
    color: white;

}
a:hover {
    color: #4b4b4b;
}
footer {
    text-align: center;
    font-size: 15pt;
    color: white;
    font-style: italic;
    margin-top: 20px;
}